<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Spring Boot Session Example</title>
</head>

<body>
	<div>
		<h1>Spring Session Application1</h1>
		<div>
			<form th:action="@{/saveToSession}" method="post">
				<textarea name="msg" cols="40" rows="2"></textarea>
				<br> <input type="submit" value="Save Message To Session" />
			</form>
		</div>
		<div>
			<h2>Messages in Session:</h2>
			<ul th:each="object : ${sessionObjects}">
				<li th:text="${object}">msg</li>
			</ul>
		</div>
		<div>
			<form th:action="@{/destroySession}" method="post">
				<input type="submit" value="Destroy Session" />
			</form>
		</div>
	</div>
</body>

</html>